body{
    background-color: seagreen;
    background-image: url(https://images.pexels.com/photos/5217753/pexels-photo-5217753.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.play2{
    float: right;
}

.p1Flip{

    height: 100px;
    width: 100px;
    background-color: aquamarine;
    text-align: left;
    font-size: 25px;
    text-justify: center;

}
.p2Flip{

    height: 100px;
    width: 100px;
    background-color: aquamarine;
    text-align: right;
    font-size: 25px;
    text-justify: right;
    float: right;

}
.rounds{

    height: 50px;
    width: 100px;
    background-color: aquamarine;
    text-align: right;
    font-size: 15px;
    text-justify: left;
    float: center;

}

.p2Draw{
    float: right;
}