body{
    background-color: rgb(31, 122, 70, .7);
    /* background-image: url(https://dm0qx8t0i9gc9.cloudfront.net/watermarks/video/2mhLcvO/videoblocks-floating-broadcast-shapes_r4gi-ot-z7__c0bbbd54218447d4eaf208876360cbb2__P360.mp4); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: monospace;
}
h1{
    font-family: ;
}
/* video{
    object-fit: cover;
    height: 100%;
    width: 100%;

    position: absolute;
    top:0;
    left:0;
} */

/* #video{
    height: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
} */


/*  citation : https://blog.hubspot.com/website/video-background-css */
.play2{
    float: right;
}

.p1Flip{

    height: 150px;
    width: 94px;
    background-color: rgba(103, 223, 183, 0.75);
    text-align: center;
    font-size: 25px;
    text-justify: center;
    border: solid 2px black;
    border-radius: 8px;
    padding-top: 30px;

}
.p2Flip{

    height: 150px;
    width: 95px;
    background-color: rgba(103, 223, 183, 0.75);
    text-align: center;
    font-size: 25px;
    text-justify: center;
    float: left;
    border: solid 2px black;
    border-radius: 8px;
    padding-top: 30px;

}
.rounds{

    height: 80px;
    width: 325px;
    background-color: rgba(103, 223, 183, 0.75);
    text-align: center;
    font-size: 40px;
    text-justify: left;
    /* float: center; */
    flex-grow: 4;
    border: solid 2px black;
    margin: 0 auto;
    padding-top: 20px;
    border-radius: 8px;
    margin-top: 20px;

}

.p2Draw{
    float: right;
}

.p1Cards{

    height: 50px;
    width: 250px;
    background-color: rgba(103, 223, 183, 0.75);
    text-align: left;
    font-size: 25px;
    text-justify: center;
    border: solid 2px black;
    border-radius: 8px;
    padding-top: 12px;


}

.p2Cards{

    height: 50px;
    width: 250px;
    background-color: rgba(103, 223, 183, 0.75);

    text-align: left;
    font-size: 25px;
    text-justify: center;
    border: solid 2px black;
    border-radius: 8px;
    padding-top: 12px;

}

.winner{
    background-color: rgba(103, 223, 183, 0.75);
    height: 80px;
    width: 350px;
    border: solid 2px black;
    border-radius: 8px;
    text-align: center;

    font-size: 35px;
    

}

.hide{
    opacity: 0;
}
/* 
.container{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   gap: 30px;


} */

.navBar{
    background-color: rgba(103, 223, 183, 0.75);

    border: solid 2px black;
    border-radius: 12px;
    height: 35px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
    align-content: center;
    text-decoration: none;


}

.play1Butt{
    align-items: center;
}
.play2Butt{
    align-items: center;
}

.buttonContainer{
    display: flex;
    /* border: solid 2px black; */
    justify-content: space-between;
    height: 200px;
    align-content: stretch;
    margin-top: 25px;
}

.moreButton{
    text-align: center;
    margin-top: 10px;

}
.cardContainer{
    display: flex;
    /* border: solid 2px black; */
    justify-content: space-between;
    margin-top: 20px;
}

.winContainer{
    display: flex;
    justify-content: center;
    /* border: solid 2px black; */
    margin-top: 20px;
}

.nav{
    
}

img{
    opacity: 0.7;
    width: 780px;
    height: 385px;
    border: solid 1px black;
    border-radius: 9px;
    
}

.imageContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
