body{
    background-color: seagreen;
    background-image: url(https://images.pexels.com/photos/5217753/pexels-photo-5217753.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

